#nutrient-calculation {
    margin-top: 40px;
    padding: 20px;
    background-color: #e6f7ff; /* Light blue background color */
}

#nutrient-calculation h2 {
    color: #004080; /* Dark blue color for the heading */
}

#nutrient-calculation label,
#nutrient-calculation input,
#nutrient-calculation button {
    margin-bottom: 10px;
}

#result {
    font-weight: bold;
    margin-top: 10px;
    color: #004080; /* Dark blue color for the result */
}
